<%- include('./partials/head') %>

<header>
    <nav class="nav1">
      <span></span>
      <span></span>
      <span></span>
      <p>logo</p>
    </nav>
    <nav class="nav2">
      naam
      <img src="https://fdnd-agency.directus.app/assets/" alt="profile picture">
    </nav>
</header>

<section class="sectie1">
  <h1>lijsten</h1>
  <article>
    <img src="" alt="" class="lijst-foto">
    <p>Lorem, ipsum dolor sit</p>
  </article>
  <article>
    <img src="" alt="">
    <p>Lorem, ipsum dolor sit</p>
  </article>
  <article>
    <img src="" alt="">
    <p>Lorem, ipsum dolor sit</p>
  </article>
  <form method="post" action="" class="lijst-knopje">
    <button>
      <p> (svg) Maak een lijst</p>
    </button>
  </form>
</section>

<section class="sectie2">
  <article class="container">
    <div class="img">
      <!-- <img src="" alt="" class="detail-image"> -->
    </div>
    <div class="detail-info">
      <ul>
        <ol>huisprijs</ol>
        <ol>makelaar</ol>
        <ol>oppervlakte</ol>
      </ul>
    </div>
  </article>
</section>

<style>
    

