:root {
  /* 5 Primaire kleuren */
  --primary-white: #ffffff;
  --primary-weborange: #f7a100;
  --primary-regentblue: #e6f2f7;
  --primary-lochmara: #0071b3;
  --primary-mineshaft: #333333;  
  /* 10 Secundaire kleuren */
  --secundary-darkerorange: #de9000;
  --secundary-casablanca: #f8b73e;
  --secundary-saffronmango: #f8c463;
  --secundary-cedar: #53241b;
  --secundary-bahamablue: #006199;
  --secundary-curiousblue: #2c81b3;
  --secundary-steelblue: #478bb3;
  --secundary-malibu: #60c5f8;
  --secundary-silvertree: #66ba96;
  --secundary-petiteorchid: #e09199;
  /* 5 Grijstinten */
  --grijstint-gallery: #ededed;
  --grijstint-silver: #cccccc;
  --grijstint-silverchalice: #999999;
  --grijstint-dovegray: #666666;
  --grijstint-mineshaft: #333333;
}

@font-face {
  font-family: proxima-nova, sans-serif;
  src: url(assets/._ProximaNova-Black_1553558671[2250].ttf);
}

/* algemeen */
* {
  margin: 0;
  padding: 0;
}

main {
  font-family: proxima-nova, sans-serif;
  grid-template-rows:auto;
  grid-template-columns: 15% 70% 15%;
  background-color: var(--primary-white);
}

/* navigatie */
header {
  height: 80px;
  width: auto;
  background-color: var(--primary-weborange);
}

nav {
  background-color: palevioletred;
}

h1 {
  background-color: red;
}

section {
  /* background-color: #66ba96; */
  grid-column: 2 / 3;
  width: 700px;
  height: 200px;
  margin: 0px 0px 16px;
  padding: 0px 0px 16px;
  border-color: hsl(var(--neutral-20, 0 0% 90%) / var(--tw-border-opacity));
}

